
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment & secrets
user.json
.env

# Allure
.allure
/allure-results/
/allure-report/
allurerc.mjs